<h1>Listing three_good_things</h1>

<table>
  <thead>
    <tr>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @three_good_things.each do |three_good_thing| %>
      <tr>
        <td><%= three_good_thing.1 %></td>
        <td><%= three_good_thing.2 %></td>
        <td><%= three_good_thing.3 %></td>
        <td><%= link_to 'Show', three_good_thing %></td>
        <td><%= link_to 'Edit', edit_three_good_thing_path(three_good_thing) %></td>
        <td><%= link_to 'Destroy', three_good_thing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Three good thing', new_three_good_thing_path %>
