<p id="notice"><%= notice %></p>

<p>
  <strong>1:</strong>
  <%= @three_good_thing.1 %>
</p>

<p>
  <strong>2:</strong>
  <%= @three_good_thing.2 %>
</p>

<p>
  <strong>3:</strong>
  <%= @three_good_thing.3 %>
</p>

<%= link_to 'Edit', edit_three_good_thing_path(@three_good_thing) %> |
<%= link_to 'Back', three_good_things_path %>
