<h1>Listing days</h1>

<table>
  <thead>
    <tr>
      <th>Day of the Week</th>
      <th>Date</th>
      <th>Month</th>
      <th>Year</th>
      <th>Thing One</th>
      <th>Thing Two</th>
      <th>Thing Three</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @days.each do |day| %>
      <tr>
        <td><%= day.dayOfTheWeek %></td>
        <td><%= day.date %></td>
        <td><%= day.month %></td>
        <td><%= day.year %></td>
        <td><%= day.thingOne %></td>
        <td><%= day.thingTwo %></td>
        <td><%= day.thingThree %></td>
        <td><%= link_to 'Show', day %></td>
        <td><%= link_to 'Edit', edit_day_path(day) %></td>
        <td><%= link_to 'Destroy', day, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Day', new_day_path %>
